header {
    .pre-header{
        background-color: $primary-color;
        padding: 0.5rem;
        color: white;
        i{
            margin-right: 1rem;
        }
        span{
            margin-right: 2rem;
            &.mail a:hover{
               color: rgb(50, 204, 50); 
            }
        }
        a{
            color: $secondary-color;
            &:hover{
                text-decoration: none;

            }
        }
        .social{
            i{
                padding: 0.8rem;
                border: none;
                background-color: #282828;
                transition: all 0.5s;
                &:hover{
                    border: 1px white solid;
                    background-color: $primary-color;
                }
            }
        }
    }
    .logo{
        text-align: center;
        span{
            display: block;
            font-size: 1rem;
            letter-spacing: 3px;
            font-weight: bold;
            color: $primary-color;
        }

        .logo-title{
            color: black;
            font-size: 2.2rem;
            font-weight: bold;
            i{
                margin-right: 1.5rem;
                transform: rotateZ(15deg);
            }
            &:hover{
                text-decoration: none;
                color: black;
            }
        }
      
    }
    nav{
     
        .nav__list{
            ul li{
                position: relative;
                margin-right: 1rem;
                &::after{
                    @include after($primary-color,2px ,0%,0,0 );
                }
              
                
                &:hover::after{
                    width: 100%;
                }
            }
            ul li a{
                font-size: 1rem;
                font-weight: 500;
                color: #282828!important;
                &:hover{
                    color: $primary-color!important;
                }
            }
            ul li.active a{
                color: $primary-color!important;
            }
            ul li.active{
                position: relative;
                &::after{
                    @include after($primary-color,2px ,100%,0,0 );
                }
                
            }

        }   
    }

}